/scripts/onnx_model/
/weights/
/data/
.env

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

.pytest_cache/

venv/
.env/
*.venv

*.log
*.sqlite3
*.db
.DS_Store

.idea/
.vscode/
*.swp

pip-log.txt
pip-delete-this-directory.txt

logs/.env
